/* Extras */

/* Typing effect */
.text-js {
  opacity: 0;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Cursor color */
  background-color: #000000;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}

/* Hover under links */

.link-underline {
padding-bottom: 4px;
display: inline-block;
vertical-align: middle;
-webkit-transform: translateZ(0);
transform: translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-moz-osx-font-smoothing: grayscale;
position: relative;
overflow: hidden;

}
.link-underline:before {
content: "";
position: absolute;
left: 50%;
right: 50%;
bottom: 0;
background:#a6b1e1;
height: 3px;
-webkit-transition-property: left, right;
transition-property: left, right;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

.link-underline:hover:before,
.link-underline:focus:before,
.link-underline:active:before 
{
left: 0%;
right: 0%;
}



/* Custom Cursor */

html,
html *,
body,
body * {
cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
pointer-events: none;
position: absolute;
top: 50%;
left: 50%;
border-radius: 50%;
opacity: 0;
-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
-webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot {
width: 8px;
height: 8px;
background-color: #a6b1e1;
}

.cursor-dot-outline {
width: 40px;
height: 40px;
background-color: #a6b1e179;
}

.cursor-dot,
.cursor-dot-outline {
  z-index:999999;
}

/* Blue gradient for Google Collections page */
.bluegradient {
	background: linear-gradient(-45deg, #246ADF, #2B87FC, #5099FD, #9AC2FF);
	background-size: 400% 400%;
	margin-bottom: 120px;
	margin-top: 120px;
	-webkit-animation: gradient 8s ease infinite;
	        animation: gradient 8s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}