.nav {
  margin-right: 60px;
  margin-left: 60px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: rgba(62, 69, 83, 0);
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.icon {
  width: auto;
  height: 30px;
  color: rgba(255, 255, 255, 0);
}

.icon:hover {
  opacity: 0.6;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item {
  margin-left: 32px;
  padding: 4px 0px 0px;
  background-color: transparent;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #949494;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 1;
  color: #000;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item:focus {
  color: #000;
}

.navigation-item.w--current {
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #000;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.columns-8 {
  margin-top: 80px;
  margin-bottom: 0px;
}

.intro {
  margin-top: 30px;
}

.div-block-66 {
  margin-bottom: 10px;
  text-align: center;
}

.gazerp2 {
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.list-item-7 {
  height: auto;
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.heading-26 {
  margin-bottom: 20px;
  padding-left: 0px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
}

.div-block-112 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gazerh3 {
  margin-bottom: 20px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.gazerh3.interviews {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
}

.gazerh3.aff {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.image-33 {
  width: auto;
  text-align: left;
}

.html-embed-2 {
  border-radius: 0px;
}

.div-block-77 {
  margin-top: 100px;
}

.div-block-111 {
  margin-bottom: 0px;
}

.h2gazer {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 700;
}

.h2gazer.proto {
  margin-bottom: 40px;
}

.image-61 {
  border-radius: 8px;
  box-shadow: -1px 1px 15px 0 rgba(0, 0, 0, 0.2);
}

.gazerp {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.gazerp.belowh2 {
  margin-top: 0px;
}

.gazerp.a {
  margin-top: 0px;
}

.gazerp.beg {
  margin-top: 20px;
  margin-bottom: 60px;
}

.list {
  margin-bottom: 10px;
}

.c-private-rooms {
  margin-top: 80px;
}

.gazerheading {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 900;
}

.heading-35 {
  margin-top: 160px;
  margin-bottom: 108px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 46px;
  line-height: 66px;
  font-weight: 600;
}

.moments-class {
  margin-top: 80px;
  margin-bottom: 100px;
}

.bold-text-2 {
  color: #000;
}

.columns-15 {
  margin-top: 40px;
  margin-bottom: 80px;
}

.div-block-68 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-80 {
  display: block;
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.sub {
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.amap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-58 {
  display: block;
  width: 100%;
  margin: 0px;
  text-align: center;
}

.research {
  margin-top: 40px;
  margin-bottom: 80px;
}

.gazerp-2 {
  margin-top: 40px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.gazerp-2.belowh2 {
  margin-top: 0px;
}

.gazerp-2.belowh2 {
  margin-top: 20px;
}

.list-2 {
  margin-bottom: 20px;
}

.list-item-8 {
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.list-item-9 {
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.image-85 {
  margin-bottom: 60px;
}

.div-block-114 {
  margin-bottom: 30px;
}

.ia {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.image-59 {
  max-width: 90%;
  margin-top: 0px;
  margin-bottom: 80px;
}

.image-60 {
  margin-top: 0px;
}

.div-block-115 {
  margin-bottom: 0px;
}

.div-block-79 {
  text-align: center;
}

.container-28 {
  margin-bottom: 40px;
}

.div-block-81 {
  margin-top: 20px;
}

.div-block-117 {
  margin-bottom: 0px;
}

.container-29 {
  max-width: 50%;
}

.challenges {
  margin-bottom: 20px;
}

.footer {
  margin-top: 60px;
  background-color: #fff;
}

.footerl {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.column-33 {
  margin-top: 70px;
}

.botd {
  margin-top: 20px;
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.div-block-100 {
  margin-bottom: 10px;
}

.div-block-98 {
  display: block;
  margin-top: 80px;
  margin-bottom: 70px;
  padding-top: 0px;
  text-align: left;
}

.footerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-16 {
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.diag {
  height: 12px;
  margin-left: 10px;
}

.div-block-99 {
  margin-top: 80px;
  text-align: left;
}

.end {
  border-top: 1px solid #c4c4c4;
}

.end.footer {
  margin-top: 40px;
  background-color: #1f1f1f;
}

.bot {
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.menul {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.menul:hover {
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
}

.menul.w--current {
  text-decoration: none;
}

.menul.w--current:hover {
  opacity: 0.5;
  text-decoration: line-through;
}

.foot {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.nav-menu {
  margin: 40px 60px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.nav-link.footernav {
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 700;
}

.nav-link-3:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3.w--current {
  color: #000;
  font-weight: 700;
}

.am {
  text-align: center;
}

@media screen and (min-width: 1920px) {
  .nav {
    margin-right: 260px;
    margin-left: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .container-29 {
    max-width: 60%;
  }
  .navigation {
    padding: 25px 0px;
  }
  .navigation-items {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .icon {
    width: auto;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item {
    margin-bottom: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 100%, 0);
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    font-size: 12px;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .navigation-item:active {
    background-color: rgba(255, 255, 255, 0);
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu {
    display: block;
  }
  .intro {
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .list-item-7 {
    height: auto;
    font-size: 16px;
  }
  .heading-26 {
    margin-top: 0px;
  }
  .html-embed-2 {
    margin-top: -50px;
    margin-bottom: -50px;
  }
  .div-block-80 {
    margin-top: 0px;
  }
  .sub {
    font-size: 13.5px;
  }
  .amap {
    margin-right: 60px;
    margin-left: 60px;
    padding-left: 0px;
  }
  .research {
    padding-right: 60px;
    padding-left: 60px;
  }
  .list-item-8 {
    font-size: 16px;
  }
  .list-item-9 {
    font-size: 16px;
    line-height: 28px;
  }
  .container-28 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .footerl {
    font-size: 11.8px;
  }
  .botd {
    font-size: 12px;
  }
  .diag {
    height: 8px;
    margin-left: 4px;
  }
  .bot {
    font-size: 18px;
  }
  .menul {
    font-size: 11.8px;
  }
  .nav-menu {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
    background-color: #fff;
  }
  .nav-link.footernav {
    background-color: #fff;
  }
  .container-30 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .div-block-118 {
    border-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 0px;
  }
  .container-29 {
    max-width: 100%;
  }
  .navigation-items {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon {
    width: auto;
    height: 26px;
  }
  .navigation-item {
    margin-bottom: 20px;
    text-align: right;
  }
  .menu {
    height: 100%;
  }
  .column-19 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .list-item-7 {
    height: auto;
  }
  .gazerh3 {
    font-size: 22px;
  }
  .html-embed-2 {
    margin-top: -100px;
    margin-bottom: -100px;
  }
  .h2gazer {
    font-size: 30px;
    line-height: 44px;
  }
  .image-61 {
    margin-bottom: 40px;
    border-radius: 6px;
  }
  .column-28 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .gazerp {
    font-size: 14px;
  }
  .gazerheading {
    font-size: 30px;
  }
  .heading-35 {
    font-size: 40px;
    line-height: 60px;
  }
  .div-block-80 {
    margin-left: 0px;
  }
  .sub {
    margin-top: 10px;
    font-size: 16px;
  }
  .gazerp-2.belowh2 {
    font-size: 14px;
  }
  .list-item-8 {
    font-size: 14px;
  }
  .list-item-9 {
    font-size: 14px;
  }
  .column-33 {
    margin-top: 60px;
  }
  .botd {
    margin-bottom: -40px;
  }
  .div-block-113 {
    margin-bottom: -110px;
  }
  .div-block-99 {
    margin-bottom: 40px;
  }
  .nav-menu {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
  }
  .nav-link.footernav {
    font-size: 16px;
  }
  .nav-link-3 {
    font-size: 16px;
  }
  .column-34 {
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-35 {
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-36 {
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .intro {
    margin-right: 20px;
    margin-left: 20px;
  }
  .column-19 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .list-item-7 {
    font-size: 12px;
  }
  .heading-26 {
    padding-left: 0px;
  }
  .html-embed-2 {
    margin-top: -200px;
    margin-bottom: -200px;
  }
  .column-28 {
    margin-top: 10px;
  }
  .sub {
    font-size: 12px;
  }
  .amap {
    margin-right: 20px;
    margin-left: 20px;
  }
  .research {
    padding-right: 20px;
    padding-left: 20px;
  }
  .list-item-8 {
    font-size: 12px;
  }
  .list-item-9 {
    font-size: 12px;
  }
  .container-28 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-29 {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
  .column-33 {
    margin-top: 40px;
  }
  .columns-16 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu {
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .nav-link.footernav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3.w--current {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-30 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-118 {
    margin-top: 40px;
  }
}

