.nav-2 {
  margin-right: 60px;
  margin-left: 60px;
}

.navigation-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: rgba(62, 69, 83, 0);
}

.navigation-items-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.icon {
  width: auto;
  height: 30px;
  color: rgba(255, 255, 255, 0);
}

.icon:hover {
  opacity: 0.6;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item-3 {
  margin-left: 32px;
  padding: 4px 0px 0px;
  background-color: transparent;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #949494;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.line-img {
  max-width: 100%;
  width: 1000px;
  min-width: 70%;
}

.navigation-item-3:hover {
  opacity: 1;
  color: #000;
}

.navigation-item-3:active {
  opacity: 0.8;
}

.navigation-item-3:focus {
  color: #000;
}

.navigation-item-3.w--current {
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #000;
  font-weight: 600;
}

.navigation-item-3.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item-3.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.div-block-126 {
  margin-top: 40px;
}

.slider-2 {
  height: 100%;
}

.heading-22 {
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
}

.heading-22:hover {
  color: #000;
  text-decoration: none;
}

.heading-22.left {
  padding-right: 10px;
  font-size: 30px;
  text-align: left;
}

.mask-2 {
  height: 772px;
}

.paragraph-23 {
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.paragraph-23.m {
  color: #000;
  line-height: 28px;
  font-weight: 300;
}

.paragraph-23.space {
  margin-bottom: 40px;
}

.columns-19 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.div-block-31 {
  margin-bottom: 30px;
}

.paragraph-26 {
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.paragraph-26.dr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.left-arrow-4 {
  width: 48px;
}

.html-embed-3 {
  padding-right: 40px;
}

.column-5 {
  padding-right: 0px;
}

.text-span-15 {
  color: #000;
}

.columns-5 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.image-80 {
  margin-top: 60px;
}

.div-block-32 {
  margin-bottom: 60px;
  padding-bottom: 0px;
}

.bold-text-4 {
  color: #000;
}

.column-6 {
  display: block;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.left-arrow-3 {
  width: 55px;
}

.heading-16 {
  margin-top: 140px;
  padding-top: 0px;
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 5px;
}

.right-arrow-5 {
  width: 48px;
}

.right-arrow-4 {
  width: 55px;
}

.image-22 {
  margin-bottom: 35px;
}

.div-block-26 {
  margin-bottom: 60px;
}

.div-block-26.dr {
  margin-top: 60px;
}

.content {
  margin-top: 20px;
}

.mask-3 {
  height: 674px;
}

.image-19 {
  margin-top: 30px;
}

.footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.nav-menu-2 {
  margin: 20px 60px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.nav-link.footernav {
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-7 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 700;
}

.nav-link-7:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-7.w--current {
  color: #000;
  font-weight: 700;
}

.end-2 {
  border-top: 1px solid #c4c4c4;
}

.end-2.footer {
  margin-top: 40px;
  background-color: #1f1f1f;
}

.menul {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.menul:hover {
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
}

.menul.w--current {
  text-decoration: none;
}

.menul.w--current:hover {
  opacity: 0.5;
  text-decoration: line-through;
}

.botd {
  margin-top: 20px;
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.footerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-20 {
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.diag {
  height: 12px;
  margin-left: 10px;
}

.div-block-98 {
  display: block;
  margin-top: 80px;
  margin-bottom: 70px;
  padding-top: 0px;
  text-align: left;
}

.div-block-128 {
  margin-top: 80px;
  text-align: left;
}

.bot {
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.column-38 {
  margin-top: 70px;
}

.footerl {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.div-block-101 {
  margin-bottom: 10px;
}

.div-block-29 {
  display: block;
  margin-bottom: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container-8 {
  margin-top: 20px;
}

.mask-4 {
  height: 630px;
}

.right-arrow-2 {
  width: 45px;
}

.slider-4 {
  height: 100%;
  margin-bottom: 35px;
}

.html-embed {
  margin-bottom: 35px;
}

.slider {
  display: block;
  height: 704px;
  margin-bottom: 35px;
}

.image-18 {
  display: block;
  margin-top: 0px;
  margin-bottom: 60px;
  padding-bottom: 0px;
}

.image-18.dr {
  margin-top: 60px;
}

.left-arrow-2 {
  width: 45px;
}

.video {
  margin-bottom: 35px;
}

@media screen and (min-width: 1920px) {
  .nav {
    margin-right: 260px;
    margin-left: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .nav-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navigation-3 {
    margin-right: 60px;
    margin-left: 60px;
    padding: 20px 0px 25px;
  }
  .navigation-items-3 {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .icon {
    width: auto;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item-3 {
    margin-bottom: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 100%, 0);
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    font-size: 12px;
    text-align: center;
  }
  .navigation-item-3:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .navigation-item-3:active {
    background-color: rgba(255, 255, 255, 0);
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu {
    display: block;
  }
  .heading-22.left {
    font-size: 34px;
    line-height: 50px;
  }
  .mask-2 {
    height: 500px;
  }
  .paragraph-23 {
    font-size: 13.5px;
  }
  .paragraph-23.m {
    font-size: 16px;
  }
  .heading-16 {
    margin-top: 46px;
  }
  .div-block-26.dr {
    margin-top: 40px;
  }
  .content {
    padding-right: 60px;
    padding-left: 60px;
  }
  .mask-3 {
    height: 436px;
  }
  .nav-menu-2 {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
    background-color: #fff;
  }
  .nav-link.footernav {
    background-color: #fff;
  }
  .menul {
    font-size: 11.8px;
  }
  .botd {
    font-size: 12px;
  }
  .diag {
    height: 8px;
    margin-left: 4px;
  }
  .bot {
    font-size: 18px;
  }
  .footerl {
    font-size: 11.8px;
  }
  .div-block-29 {
    margin-bottom: 60px;
  }
  .mask-4 {
    height: 404px;
  }
  .slider {
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .navigation-3 {
    padding: 20px 0px;
  }
  .navigation-items-3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon {
    width: auto;
    height: 26px;
  }
  .navigation-item-3 {
    margin-bottom: 20px;
    text-align: right;
  }
  .menu {
    height: 100%;
  }
  .heading-22.left {
    font-size: 30px;
  }
  .mask-2 {
    height: 370px;
  }
  .paragraph-26 {
    font-size: 14px;
  }
  .html-embed-3 {
    padding-right: 0px;
  }
  .column-5 {
    padding-left: 0px;
  }
  .div-block-32 {
    margin-bottom: 40px;
  }
  .column-6 {
    padding-left: 0px;
  }
  .heading-16 {
    padding-top: 10px;
    font-size: 17px;
  }
  .div-block-26 {
    margin-bottom: 40px;
  }
  .div-block-26.dr {
    margin-top: 40px;
  }
  .mask-3 {
    height: 320px;
  }
  .nav-menu-2 {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
  }
  .nav-link.footernav {
    font-size: 16px;
  }
  .nav-link-7 {
    font-size: 16px;
  }
  .botd {
    margin-bottom: -40px;
  }
  .div-block-128 {
    margin-bottom: 40px;
  }
  .div-block-129 {
    margin-bottom: -110px;
  }
  .column-38 {
    margin-top: 60px;
  }
  .column-39 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-40 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-29 {
    margin-bottom: 40px;
  }
  .mask-4 {
    height: 300px;
  }
  .image-18 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 479px) {
  .nav-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .navigation-3 {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .heading-22 {
    font-size: 20px;
  }
  .mask-2 {
    height: 230px;
  }
  .paragraph-23 {
    font-size: 12px;
  }
  .column-5 {
    padding-left: 0px;
  }
  .div-block-26.dr {
    margin-top: 40px;
  }
  .content {
    padding-right: 20px;
    padding-left: 20px;
  }
  .mask-3 {
    height: 200px;
  }
  .nav-menu-2 {
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .nav-link.footernav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-7 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-7.w--current {
    padding-right: 10px;
    padding-left: 10px;
  }
  .columns-20 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .column-38 {
    margin-top: 40px;
  }
  .div-block-29 {
    margin-bottom: 40px;
  }
  .mask-4 {
    height: 184px;
  }
  .image-18 {
    margin-bottom: 40px;
  }
}

