.navigation-items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #fff;
  }
  
  .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 50px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #22262f;
    opacity: 1;
    color: #22262f;
  }
  
  .navigation.homepage {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  
  .navigation-item {
    margin-left: 32px;
    padding: 4px 0px 5px;
    background-color: transparent;
    opacity: 1;
    font-family: synthese, sans-serif;
    color: #949494;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .navigation-item:hover {
    opacity: 1;
    color: #000;
  }
  
  .navigation-item:active {
    opacity: 0.8;
  }
  
  .navigation-item:focus {
    color: #000;
  }
  
  .navigation-item.w--current {
    padding-right: 0px;
    padding-left: 0px;
    opacity: 1;
    font-family: synthese, sans-serif;
    color: #000;
    font-weight: 600;
  }
  
  .navigation-item.w--current:hover {
    opacity: 0.8;
    color: #32343a;
  }
  
  .navigation-item.w--current:active {
    opacity: 0.7;
    color: #32343a;
  }
  
  .navigation-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .nav {
    margin-right: 60px;
    margin-left: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: #242729;
  }
  
  .icon {
    width: auto;
    height: 30px;
    color: rgba(255, 255, 255, 0);
  }
  
  .icon:hover {
    opacity: 0.6;
  }
  
  .about {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
  }
  
  .div-block-103 {
    margin-top: 80px;
    margin-right: -120px;
    margin-left: -120px;
  }
  
  .h1 {
    margin-top: 0px;
    font-family: utopia-std, sans-serif;
    color: #000;
    font-size: 34px;
    text-decoration: none;
  }
  
  .h1.about-space {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .text-span-12 {
    color: #a6b1e1;
  }
  
  .div-block-108 {
    margin-right: -120px;
    margin-left: -120px;
  }
  
  .image-83 {
    border-style: solid;
    border-width: 0.75px;
    border-color: #ddd;
    border-radius: 8px;
  }
  
  .image-83:hover {
    box-shadow: 3px 3px 10px -2px rgba(0, 0, 0, 0.10);
  }
  
  .heading-32 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 0px;
    font-family: synthese, sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 900;
  }
  
  .heading-32.other-work {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 26px;
  }
  
  .animated-images {
    width: auto;
  }
  
  .art {
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
  }
  
  .column-35 {
    padding-right: 20px;
    padding-left: 0px;
  }
  
  .column-34 {
    padding-right: 0px;
    padding-left: 20px;
  }
  
  .marketing {
    margin: 60px;
  }
  
  .columns {
    margin-left: 0px;
  }
  
  .column-36 {
    padding-right: 20px;
    padding-left: 0px;
  }
  
  .column-37 {
    padding-right: 0px;
    padding-left: 20px;
  }
  
  .writing {
    margin-right: 60px;
    margin-bottom: 60px;
    margin-left: 60px;
  }
  
  .div-block-63 {
    padding-right: 20px;
  }
  
  .link-14 {
    font-family: synthese, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 28px;
    font-weight: 200;
    text-decoration: none;
  }
  
  .link-14:hover {
    color: rgba(77, 77, 77, 0.6);
    font-style: italic;
    text-decoration: line-through;
  }
  
  .heading-12 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: synthese, sans-serif;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  
  .div-block-26 {
    margin-bottom: 35px;
  }
  
  .column-38 {
    padding-left: 0px;
  }
  
  .column-39 {
    padding-right: 0px;
    padding-left: 20px;
  }
  
  .back2top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 40px;
    padding-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  
  .heading-3 {
    font-size: 20px;
    font-style: italic;
  }
  
  .heading-3.b2t {
    font-size: 16px;
  }
  
  .linktop {
    font-family: synthese, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
  }
  
  .linktop:hover {
    font-style: normal;
  }
  
  .image-3 {
    width: auto;
    height: 16px;
    margin-left: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    color: #4d4d4d;
  }
  
  .div-block-99 {
    margin-top: 80px;
    text-align: left;
  }
  
  .menul {
    font-family: synthese, sans-serif;
    color: #fff;
    text-decoration: none;
  }
  
  .menul:hover {
    opacity: 0.5;
    font-style: italic;
    text-decoration: line-through;
  }
  
  .menul.w--current {
    text-decoration: none;
  }
  
  .menul.w--current:hover {
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .end {
    border-top: 1px solid #c4c4c4;
  }
  
  .end.footer {
    margin-top: 40px;
    background-color: #1f1f1f;
  }
  
  .footerl {
    font-family: synthese, sans-serif;
    color: #fff;
    text-decoration: none;
  }
  
  .column-33 {
    margin-top: 70px;
  }
  
  .div-block-100 {
    margin-bottom: 10px;
  }
  
  .div-block-98 {
    display: block;
    margin-top: 80px;
    margin-bottom: 70px;
    padding-top: 0px;
    text-align: left;
  }
  
  .bot {
    font-family: synthese, sans-serif;
    color: #fff;
    font-size: 20px;
    text-align: left;
  }
  
  .diag {
    height: 12px;
    margin-left: 10px;
  }
  
  .botd {
    margin-top: 20px;
    font-family: synthese, sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-align: left;
  }
  
  .footerlink {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .columns-15 {
    margin-right: 60px;
    margin-left: 60px;
  }

  @media screen and (min-width: 1280px) {
    .back2top {
      margin-top: 60px;
    }

  }

  @media screen and (min-width: 1440px) {
    .nav {
      margin-left: 100px;
      margin-right: 100px;
    }
    .about {
        margin-left: 100px;
        margin-right: 100px;
    }
    .marketing {
      margin-left: 100px;
      margin-right: 100px;
    }
    .art {
      margin-left: 100px;
      margin-right: 100px;
    }
    .writing {
      margin-left: 100px;
      margin-right: 100px;
    }
    .back2top {
      margin-left: 100px;
      margin-right: 100px;
    }
    }

  @media screen and (min-width: 1920px) {
  .nav {
    margin-left: 260px;
    margin-right: 260px;
  }
  .about {
      margin-left: 260px;
      margin-right: 260px;
  }
  .marketing {
    margin-left: 260px;
    margin-right: 260px;
  }
  .art {
    margin-left: 260px;
    margin-right: 260px;
  }
  .writing {
    margin-left: 260px;
    margin-right: 260px;
  }
  .back2top {
    margin-left: 260px;
    margin-right: 260px;
  }
  }
  
  @media screen and (max-width: 991px) {
    .navigation-items {
      margin-top: 10px;
      background-color: rgba(255, 255, 255, 0);
    }
    .navigation {
      padding: 25px 30px;
    }
    .menu {
      display: block;
    }
    .navigation-item {
      margin-bottom: 0px;
      padding: 0px;
      background-color: hsla(0, 0%, 100%, 0);
      -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
      transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
      font-size: 12px;
      text-align: center;
    }
    .navigation-item:hover {
      background-color: rgba(255, 255, 255, 0);
    }
    .navigation-item:active {
      background-color: rgba(255, 255, 255, 0);
    }
    .navigation-wrap {
      margin-right: 0px;
    }
    .icon {
      width: auto;
    }
    .menu-button {
      padding: 0px;
    }
    .menu-button.w--open {
      background-color: transparent;
    }
    .h1 {
      font-size: 32px;
    }
    .columns-10 {
      margin-left: 0px;
      padding-right: 0px;
      padding-left: 0px;
    }
    .link-14 {
      font-size: 16px;
      line-height: 28px;
    }
    .column-38 {
      padding-right: 0px;
    }
    .back2top {
      margin-top: -20px;
    }
    .heading-3 {
      font-size: 20px;
      font-style: italic;
      font-weight: 500;
    }
    .menul {
      font-size: 11.8px;
    }
    .footerl {
      font-size: 11.8px;
    }
    .bot {
      font-size: 18px;
    }
    .diag {
      height: 8px;
      margin-left: 4px;
    }
    .botd {
      font-size: 12px;
    }
    .italic-text {
      font-size: 16px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navigation-items {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .navigation {
      padding: 20px 30px;
    }
    .menu {
      height: 100%;
    }
    .navigation-item {
      margin-bottom: 20px;
      text-align: right;
    }
    .icon {
      width: auto;
      height: 26px;
    }
    .column-35 {
      margin-bottom: 40px;
      padding-right: 0px;
    }
    .column-34 {
      padding-left: 0px;
    }
    .column-36 {
      margin-bottom: 40px;
      padding-right: 0px;
    }
    .column-37 {
      padding-left: 0px;
    }
    .div-block-63 {
      padding-right: 0px;
    }
    .link-14 {
      font-size: 14px;
    }
    .column-38 {
      padding-right: 0px;
    }
    .column-39 {
      padding-left: 0px;
    }
    .back2top {
      margin-top: -30px;
    }
    .div-block-99 {
      margin-bottom: 40px;
    }
    .div-block-113 {
      margin-bottom: -110px;
    }
    .column-33 {
      margin-top: 60px;
    }
    .botd {
      margin-bottom: -40px;
    }
    .italic-text {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .navigation {
      padding-right: 20px;
      padding-left: 20px;
    }

    .columns-15 {
      margin-right: 20px;
      margin-left: 20px;
    }

    .nav {
      margin-right: 20px;
      margin-left: 20px;
    }
    .menu-button {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .menu-button.w--open {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .about {
      margin-right: 20px;
      margin-left: 20px;
    }
    .art {
      margin-right: 20px;
      margin-left: 20px;
    }
    .marketing {
      margin-right: 20px;
      margin-left: 20px;
    }
    .writing {
      margin-right: 20px;
      margin-left: 20px;
    }
    .div-block-63 {
      padding-right: 0px;
    }
    .link-14 {
      line-height: 24px;
    }
    .column-38 {
      padding-right: 0px;
    }
    .back2top {
      margin-top: 60px;
    }
    .linktop {
      font-size: 14px;
    }
    .image-3 {
      width: auto;
      height: 14px;
      margin-left: 10px;
    }
    .column-33 {
      margin-top: 40px;
    }
  }
  
  