.nav {
  margin-right: 60px;
  margin-left: 60px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: rgba(62, 69, 83, 0);
}

.wrapper {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 60px;
}

.sliding-background {
  background: url("../templates/pilota-assets/Slide.png") repeat-x;
  height: 800px;
  width: 3614px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(-1692px, 0, 0);
  }
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.icon {
  width: auto;
  height: 30px;
  color: rgba(255, 255, 255, 0);
}

.icon:hover {
  opacity: 0.6;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item {
  margin-left: 32px;
  padding: 4px 0px 0px;
  background-color: transparent;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #949494;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 1;
  color: #000;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item:focus {
  color: #000;
}

.navigation-item.w--current {
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #000;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.intro {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

.h1 {
  margin-top: 0px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 900;
}

.h1:hover {
  color: #000;
  text-decoration: none;
}

.link-23 {
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}

.link-23:hover {
  color: hsla(0, 0%, 52.2%, 0.8);
  font-style: italic;
  text-decoration: none;
}

.p {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.p.list {
  margin-bottom: 10px;
}

.p.uf {
  margin-right: 20px;
}

.p.tsdetails {
  margin-top: 30px;
}

.p.lists {
  margin-bottom: 20px;
}

.p.rca {
  margin-top: 20px;
}

.image-33 {
  width: auto;
  margin-top: -4vh;
  margin-right: 0vw;
  text-align: left;
}

.sub {
  font-family: synthese, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.p2 {
  margin-right: 40px;
  margin-bottom: 40px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.columns {
  margin-right: 0px;
  margin-left: 0px;
}

.div-block-67 {
  margin-right: 100px;
}

.overview {
  margin-bottom: -30px;
}

/* Scroll for Pilota page. */
.container {
max-width: 880px;
margin: 0 auto;
margin-bottom: -30px;
}

.mockup {
  position: relative;
  width: 100%;
  margin: 0 auto;
} 

.artwork {
  position: absolute;
  width: 76%;
  height: 75%;
  top: 9%;
  left: 11.75%;
  overflow: scroll;
}

.image-88 {
  display: block;
  width: 40%;
  max-width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  text-align: left;
}

.pilota-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 60%;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.div-block-125 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.paragraph-26 {
  margin-right: 40px;
  margin-bottom: 40px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.paragraph-26._80 {
  max-width: 78%;
  min-width: auto;
  margin-right: 40px;
}

.h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 46px;
  line-height: 66px;
  font-weight: 600;
}

.h2.mid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block-119 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-68 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-120 {
  margin-top: 60px;
  margin-bottom: 80px;
}

.ca {
  margin-top: 20px;
}

.div-block-121 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.columns-18 {
  margin-top: 20px;
}

.div-block-123 {
  margin-top: 80px;
}

.image-87 {
  border-radius: 8px;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.12);
}

.h3 {
  margin-bottom: 30px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 32px;
  font-weight: 600;
}

.div-block-124 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.h4 {
  margin-bottom: 20px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-40 {
  width: 195px;
}

.column-7 {
  text-align: center;
}

.div-block-74 {
  width: auto;
}

.column-36 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columns-6 {
  margin-right: -10px;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.details {
  margin-top: 20px;
}

.heading-37 {
  margin-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.heading-37.t {
  color: transparent;
}

.image-37 {
  display: block;
}

.column-37 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.travelsafe {
  margin-top: 80px;
}

.ts {
  margin-top: 40px;
}

.calist {
  margin-bottom: 0px;
}

.div-block-126 {
  margin-bottom: 30px;
  margin-left: 20px;
}

.footer {
  margin-top: 60px;
  background-color: #fff;
}

.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-menu {
  margin-top: 0px;
  margin-bottom: 40px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.nav-link.footernav {
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link.footernav {
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 700;
}

.nav-link-3:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3.w--current {
  color: #000;
  font-weight: 700;
}

.footerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-99 {
  margin-top: 80px;
  text-align: left;
}

.menul {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.menul:hover {
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
}

.menul.w--current {
  text-decoration: none;
}

.menul.w--current:hover {
  opacity: 0.5;
  text-decoration: line-through;
}

.div-block-100 {
  margin-bottom: 10px;
}

.footerl {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.div-block-98 {
  display: block;
  margin-top: 80px;
  margin-bottom: 70px;
  padding-top: 0px;
  text-align: left;
}

.end {
  border-top: 1px solid #c4c4c4;
}

.end.footer {
  margin-top: 40px;
  background-color: #1f1f1f;
}

.column-33 {
  margin-top: 70px;
}

.diag {
  height: 12px;
  margin-left: 10px;
}

.botd {
  margin-top: 20px;
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.bot {
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.columns-15 {
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.nav-menu-2 {
  margin: 40px 60px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.nav-link-4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 700;
}

.nav-link-4:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-4.w--current {
  color: #000;
  font-weight: 700;
}

@media screen and (min-width: 1920px) {
  .nav {
    margin-right: 260px;
    margin-left: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 25px 0px;
  }
  .navigation-items {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .icon {
    width: auto;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item {
    margin-bottom: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 100%, 0);
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    font-size: 12px;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .navigation-item:active {
    background-color: rgba(255, 255, 255, 0);
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu {
    display: block;
  }
  .intro {
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .p {
    font-size: 16px;
  }
  .sub {
    font-size: 13.5px;
  }
  .div-block-67 {
    margin-right: 40px;
  }
  .overview {
    margin-right: 60px;
    margin-left: 60px;
  }
  .pilota-h {
    max-width: 80%;
    margin-left: 55px;
    font-size: 32px;
    line-height: 40px;
  }
  .paragraph-26._80 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 80%;
    margin-right: 0px;
    padding-left: 10px;
  }
  .div-block-68 {
    margin-top: 60px;
  }
  .carousel {
    margin-left: 0px;
  }
  .landing-page {
    margin-right: 60px;
    margin-left: 60px;
  }
  .image-40 {
    width: 130px;
  }
  .details {
    margin-right: 60px;
    margin-left: 60px;
  }
  .travelsafe {
    margin-right: 60px;
    margin-left: 60px;
  }
  .div-block-126 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .container-7 {
    background-color: #fff;
  }
  .nav-menu {
    margin-bottom: 10px;
    background-color: #fff;
  }
  .nav-link.footernav {
    background-color: #fff;
  }
  .nav-link.footernav {
    background-color: #fff;
  }
  .menul {
    font-size: 11.8px;
  }
  .footerl {
    font-size: 11.8px;
  }
  .diag {
    height: 8px;
    margin-left: 4px;
  }
  .botd {
    font-size: 12px;
  }
  .bot {
    font-size: 18px;
  }
  .nav-menu-2 {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 0px;
  }
  .navigation-items {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon {
    width: auto;
    height: 26px;
  }
  .navigation-item {
    margin-bottom: 20px;
    text-align: right;
  }
  .menu {
    height: 100%;
  }
  .h1 {
    font-size: 30px;
  }
  .p {
    font-size: 14px;
  }
  .p.uf {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .sub {
    margin-top: 10px;
    font-size: 16px;
  }
  .column-18 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .p2 {
    font-size: 14px;
  }
  .image-88 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .pilota-h {
    max-width: 100%;
    margin-left: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .paragraph-26._80 {
    max-width: 100%;
    padding-left: 0px;
    font-size: 14px;
  }
  .h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .h2.mid {
    max-width: 100%;
  }
  .h3 {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .h4 {
    font-size: 22px;
  }
  .column-36 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-37 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-126 {
    max-width: 100%;
    margin-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .container-7 {
    margin-right: 60px;
    margin-left: 60px;
  }
  .nav-menu {
    margin-bottom: 10px;
  }
  .nav-link.footernav {
    font-size: 16px;
  }
  .nav-link.footernav {
    font-size: 16px;
  }
  .nav-link-3 {
    font-size: 16px;
  }
  .div-block-99 {
    margin-bottom: 40px;
  }
  .div-block-113 {
    margin-bottom: -110px;
  }
  .column-33 {
    margin-top: 60px;
  }
  .botd {
    margin-bottom: -40px;
  }
  .nav-menu-2 {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
  }
  .nav-link-4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .intro {
    margin-right: 20px;
    margin-left: 20px;
  }
  .h1 {
    font-size: 20px;
  }
  .p {
    margin-top: 20px;
    font-size: 12px;
  }
  .sub {
    font-size: 12px;
  }
  .column-18 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .overview {
    margin-right: 20px;
    margin-left: 20px;
  }
  .pilota-h {
    margin-top: 0px;
  }
  .h2.mid {
    max-width: 100%;
    font-size: 40px;
    line-height: 60px;
  }
  .landing-page {
    margin-right: 20px;
    margin-left: 20px;
  }
  .details {
    margin-right: 20px;
    margin-left: 20px;
  }
  .travelsafe {
    margin-right: 20px;
    margin-left: 20px;
  }
  .container-7 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
  .nav-link.footernav {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-link.footernav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3.w--current {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 14px;
  }
  .column-33 {
    margin-top: 40px;
  }
  .columns-15 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu-2 {
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .nav-link-4 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-4.w--current {
    padding-right: 10px;
    padding-left: 10px;
  }
}

