.nav {
  margin-right: 60px;
  margin-left: 60px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 1;
  color: rgba(62, 69, 83, 0);
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}

.icon {
  width: auto;
  height: 30px;
  color: rgba(255, 255, 255, 0);
}

.icon:hover {
  opacity: 0.6;
}

.navigation-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-item {
  margin-left: 32px;
  padding: 4px 0px 0px;
  background-color: transparent;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #949494;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 1;
  color: #000;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item:focus {
  color: #000;
}

.navigation-item.w--current {
  padding-right: 0px;
  padding-left: 0px;
  opacity: 1;
  font-family: synthese, sans-serif;
  color: #000;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.text-span-7 {
  font-weight: 400;
}

.image-83 {
  margin-bottom: 20px;
}

.bold-text {
  color: #000;
}

.heading {
  margin-top: 0px;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 34px;
  font-weight: 900;
}

.subtext {
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.intro {
  margin-top: 10px;
  margin-bottom: 60px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block.bottom {
  margin-top: 0px;
}

.div-block.brainstorming {
  margin-top: 0px;
}

.div-block.special {
  margin-top: 0px;
}

.div-block.s {
  margin-top: 0px;
}

.heading-2 {
  width: 70%;
  margin-bottom: 30px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  text-align: left;
}

.heading-2.new {
  margin-top: 0px;
}

.heading-2.wide {
  width: 100%;
}

.heading-2.bs {
  width: 100%;
}

.paragraph {
  margin-left: 0px;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.paragraph.when {
  margin-right: 20px;
  margin-left: 0px;
}

.paragraph._3 {
  padding-right: 0px;
  margin-right: 10px;
}

.paragraph._1 {
  margin-right: 20px;
}

.columns {
  margin-top: 40px;
  margin-left: 0px;
}

.paragraph-2 {
  width: 100%;
  font-family: synthese, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 200;
}

.paragraph-2.beginning {
  position: static;
  width: 70%;
  margin-bottom: 0px;
}

.paragraph-2.list {
  margin-bottom: 10px;
}

.paragraph-2.spp {
  margin-bottom: 30px;
}

.paragraph-2.end {
  margin-bottom: 0px;
  border: 1px none #000;
}

.columns-6 {
  margin-top: 0px;
}

.text-span-8 {
  font-weight: 400;
}

.heading-3 {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: synthese, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 40px;
  font-style: normal;
  font-weight: 700;
}

.heading-3.sp {
  width: 70%;
  margin-top: 30px;
}

.heading-3.uf {
  margin-top: 30px;
}

.heading-3.p {
  width: 70%;
}

.heading-3.fp {
  width: 70%;
}

.div-block-2 {
  width: 70%;
  margin-top: 30px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.list-2 {
  margin-bottom: 0px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin-top: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.problem {
  margin: 140px 0px;
  padding-left: 0px;
  font-family: utopia-std, sans-serif;
  color: #000;
  font-size: 46px;
  line-height: 66px;
  font-weight: 600;
}

.text-span-9 {
  font-style: italic;
}

.text-span-10 {
  font-style: italic;
}

.slackdesktop {
  max-width: 100%;
  border-style: solid;
  border-width: 0.75px;
  border-color: #ebebeb;
  border-radius: 8px;
}

.slackdesktop.gmail {
  max-width: 62%;
}

.image-84 {
  max-width: 50%;
}

.mobile {
  display: block;
  max-width: 18%;
  margin-right: 60px;
  border: 0.75px solid #ebebeb;
  border-radius: 8px;
}

.mobile.slackdesktop {
  max-height: 20%;
  max-width: none;
}

.mobile.special {
  margin-right: 0px;
}

.image-85 {
  max-width: 30%;
}

.div-block-6 {
  margin-right: 20px;
}

.div-block-7 {
  margin-left: 20px;
}

.caption {
  margin-top: 0px;
  margin-bottom: 12px;
  font-family: synthese, sans-serif;
  color: #777;
  font-weight: 200;
}

.caption.center {
  max-width: 60%;
  min-width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.caption.images {
  text-align: left;
}

.div-block-8 {
  min-height: 20%;
}

.div-block-9 {
  height: 50%;
}

.mob {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.section {
  margin-top: 60px;
  margin-right: 100px;
  margin-left: 100px;
}

.image-86 {
  max-width: 20%;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-span-11 {
  font-weight: 400;
}

.image-87 {
  max-width: 100%;
  margin-top: 20px;
}

.iteration {
  overflow: hidden;
  max-width: 100%;
  border: 0.75px solid #ebebeb;
  border-radius: 8px;
  -o-object-fit: fill;
  object-fit: fill;
}

.cap2 {
  width: 90%;
  margin-bottom: 20px;
  font-family: synthese, sans-serif;
  color: #777;
  font-weight: 200;
}

.columns-7 {
  margin-top: 60px;
  margin-right: -10px;
  margin-bottom: 60px;
}

.div-block-11 {
  margin-right: 100px;
  margin-left: 100px;
}

.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span-12 {
  font-weight: 400;
}

.text-span-13 {
  font-weight: 400;
}

.text-span-14 {
  font-weight: 400;
}

.text-span-14.selected {
  color: #7c3085;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container-2 {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-8 {
  margin-top: 0px;
}

.container-3 {
  margin-top: 80px;
}

.research {
  display: block;
  max-width: 59.5%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  border: 0.75px solid #ebebeb;
  border-radius: 8px;
  text-align: right;
}

.res {
  max-width: 100%;
  padding-right: 10px;
  border: 0.75px solid #ebebeb;
  border-radius: 8px;
  text-align: left;
}

.image-90 {
  max-width: 102%;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
  text-align: left;
}

.column-2 {
  padding-right: 0px;
  padding-left: 10px;
  text-align: center;
}

.column-3 {
  padding-right: 0px;
  padding-left: 10px;
  text-align: center;
}

.columns-9 {
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 0px;
}

.column-4 {
  padding-right: 20px;
}

.column-5 {
  padding-right: 20px;
}

.column-6 {
  padding-right: 20px;
}

.column-7 {
  padding-right: 20px;
}

.text-span-15 {
  font-weight: 400;
}

.columns-10 {
  max-width: 70%;
}

.column-8 {
  padding-right: 20px;
  padding-left: 0px;
}

.image-91 {
  margin-top: 50px;
}

.column-9 {
  display: block;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.image-92 {
  margin-top: 20px;
}

.text-span-16 {
  font-weight: 400;
}

.text-span-17 {
  font-weight: 400;
}

.text-span-18 {
  font-weight: 400;
}

.text-block {
  margin-top: 10px;
  font-family: synthese, sans-serif;
  color: #777;
  font-style: italic;
  font-weight: 200;
}

.image-93 {
  margin-top: 0px;
}

.column-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.column-11 {
  padding-right: 30px;
}

.text-span-19 {
  font-weight: 400;
}

.image-94 {
  margin-top: 60px;
  margin-bottom: 60px;
  max-width: 100%;
}

.div-block-115 {
  text-align: center;
}

.section-2 {
  margin-right: 100px;
  margin-left: 100px;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-5 {
  margin-top: 60px;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.nav-menu {
  margin: 40px 60px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 400;
}

.nav-link:hover {
  color: #000;
}

.nav-link.footernav {
  font-family: synthese, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.nav-link.footernav:hover {
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: synthese, sans-serif;
  color: #d1d1d1;
  font-size: 18px;
  font-weight: 700;
}

.nav-link-3:hover {
  color: #000;
  font-style: italic;
  text-decoration: line-through;
}

.nav-link-3.w--current {
  color: #000;
  font-weight: 700;
}

.footerlink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-99 {
  margin-top: 80px;
  text-align: left;
}

.menul {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.menul:hover {
  opacity: 0.5;
  font-style: italic;
  text-decoration: line-through;
}

.menul.w--current {
  text-decoration: none;
}

.menul.w--current:hover {
  opacity: 0.5;
  text-decoration: line-through;
}

.div-block-100 {
  margin-bottom: 10px;
}

.footerl {
  font-family: synthese, sans-serif;
  color: #fff;
  text-decoration: none;
}

.div-block-98 {
  display: block;
  margin-top: 80px;
  margin-bottom: 70px;
  padding-top: 0px;
  text-align: left;
}

.end {
  border-top: 1px solid #c4c4c4;
}

.end.footer {
  margin-top: 40px;
  background-color: #1f1f1f;
}

.columns-15 {
  margin-right: 60px;
  margin-left: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column-33 {
  margin-top: 70px;
}

.diag {
  height: 12px;
  margin-left: 10px;
}

.botd {
  margin-top: 20px;
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  text-align: left;
}

.bot {
  font-family: synthese, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: left;
}

.div-block-114 {
  text-align: center;
}

.container-6 {
  margin-top: 80px;
}

.promo {
  margin-top: 110px;
  margin-bottom: 0px;
  background-color: #4a154b;
}

.div-block-116 {
  text-align: center;
}

.image-95 {
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (min-width: 1920px) {
  .nav {
    margin-right: 260px;
    margin-left: 260px;
  }
}

@media screen and (min-width: 1440px) {
  .nav {
    margin-right: 100px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    padding: 20px 0px 25px;
  }
  .navigation-items {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  .icon {
    width: auto;
  }
  .navigation-wrap {
    margin-right: 0px;
  }
  .navigation-item {
    margin-bottom: 0px;
    padding: 0px;
    background-color: hsla(0, 0%, 100%, 0);
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    font-size: 12px;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: rgba(255, 255, 255, 0);
  }
  .navigation-item:active {
    background-color: rgba(255, 255, 255, 0);
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .menu {
    display: block;
  }
  .intro {
    margin-right: 60px;
    margin-left: 60px;
  }
  .div-block.s {
    width: 80%;
  }
  .heading-2 {
    width: 80%;
    margin-bottom: 30px;
    line-height: 40px;
  }
  .heading-2.wide {
    margin-bottom: 30px;
  }
  .paragraph-2.beginning {
    width: 80%;
    margin-top: 0px;
  }
  .paragraph-2.beginning.yes {
    width: 80%;
  }
  .heading-3.sp {
    width: 80%;
  }
  .heading-3.p {
    width: 80%;
  }
  .heading-3.fp {
    width: 80%;
  }
  .div-block-2 {
    width: 80%;
  }
  .slackdesktop {
    border-radius: 4px;
  }
  .mobile {
    margin-right: 20px;
    border-radius: 4px;
  }
  .iteration {
    border-radius: 4px;
  }
  .research {
    border-radius: 4px;
  }
  .res {
    border-radius: 4px;
  }
  .columns-10 {
    max-width: 80%;
  }
  .column-11 {
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .nav-menu {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
    background-color: #fff;
  }
  .nav-link.footernav {
    background-color: #fff;
  }
  .menul {
    font-size: 11.8px;
  }
  .footerl {
    font-size: 11.8px;
  }
  .diag {
    height: 8px;
    margin-left: 4px;
  }
  .botd {
    font-size: 12px;
  }
  .bot {
    font-size: 18px;
  }
  .container-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 20px 0px;
  }
  .navigation-items {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .icon {
    width: auto;
    height: 26px;
  }
  .navigation-item {
    margin-bottom: 20px;
    text-align: right;
  }
  .menu {
    height: 100%;
  }
  .heading {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .subtext {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .div-block {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
  }
  .heading-2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 30px;
  }
  .paragraph {
    font-size: 14px;
  }
  .paragraph-2 {
    font-size: 14px;
  }
  .paragraph-2.beginning {
    width: 100%;
    font-size: 14px;
  }
  .paragraph-2.beginning.yes {
    width: 100%;
  }
  .col {
    padding-right: 0px;
    padding-left: 0px;
  }
  .heading-3 {
    font-size: 22px;
    line-height: 38px;
  }
  .heading-3.sp {
    width: 100%;
  }
  .heading-3.p {
    width: 100%;
  }
  .heading-3.fp {
    width: 100%;
  }
  .div-block-2 {
    width: 100%;
  }
  .problem {
    margin-right: 60px;
    margin-left: 60px;
    font-size: 40px;
    line-height: 60px;
  }
  .mobile {
    display: block;
    max-width: 20%;
    margin-right: 10px;
  }
  .caption {
    font-size: 12px;
    line-height: 16px;
  }
  .caption.center {
    font-size: 12px;
    line-height: 16px;
  }
  .iteration {
    margin-bottom: 40px;
  }
  .div-block-13 {
    margin-right: 60px;
    margin-left: 60px;
  }
  .container-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .container-3 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .columns-9 {
    margin-right: 0px;
    padding-right: 10px;
  }
  .columns-10 {
    max-width: 100%;
  }
  .column-8 {
    padding-right: 0px;
  }
  .column-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .column-11 {
    padding-left: 0px;
  }
  .section-2 {
    margin-right: 60px;
    margin-left: 60px;
  }
  .nav-menu {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
  }
  .nav-link.footernav {
    font-size: 16px;
  }
  .nav-link-3 {
    font-size: 16px;
  }
  .div-block-99 {
    margin-bottom: 40px;
  }
  .div-block-113 {
    margin-bottom: -110px;
  }
  .column-33 {
    margin-top: 60px;
  }
  .botd {
    margin-bottom: -40px;
  }
  .container-6 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .column-34 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container-7 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .container-8 {
    padding-right: 60px;
    padding-left: 60px;
  }
  .div-block-117 {
    margin-right: 40px;
    margin-left: 50px;
  }
  .div-block-118 {
    margin-right: 40px;
    margin-left: 50px;
  }
  .heading-2.wide {
    width: 100%;
    margin-left: 60px;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    margin-right: 20px;
    margin-left: 20px;
  }
  .navigation {
    padding-right: 0px;
    padding-left: 0px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .image-83 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .intro {
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block {
    margin-right: 20px;
    margin-left: 20px;
  }
  .problem {
    margin-right: 20px;
    margin-left: 20px;
  }
  .section {
    display: none;
  }
  .div-block-11 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .div-block-13 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .container-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .columns-9 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .section-2 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .nav-menu {
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
  }
  .nav-link.footernav {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
  }
  .nav-link-3.w--current {
    padding-right: 10px;
    padding-left: 10px;
  }
  .columns-15 {
    margin-right: 20px;
    margin-left: 20px;
  }
  .column-33 {
    margin-top: 40px;
  }
  .container-6 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-7 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-8 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-block-118 {
    margin-right: 40px;
    margin-left: 40px;
  }
}

