<!DOCTYPE html>
<html data-wf-page="5f6afc95de4bf751a3fd1f56" data-wf-site="5f6afc95de4bf707aefd1f55">
<head>
  <meta charset="utf-8">
  <title>Monica Lin | Columbia SSOL</title>
  <meta content="Columbia SSOL" property="og:title">
  <meta content="Columbia SSOL" property="twitter:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/normalize.css" rel="stylesheet" type="text/css">
  <link href="../css/components.css" rel="stylesheet" type="text/css">
  <link href="../css/mobile-proj.css" rel="stylesheet" type="text/css">
  <link href="../css/fancy.css" rel="stylesheet" type="text/css">
  <script src="../js/fancy.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script src="https://use.typekit.net/adt5klz.js" type="text/javascript"></script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.png?" rel="shortcut icon" type="image/png">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="nav-2">
    <div data-collapse="small" data-animation="default" data-duration="400" id="Top" role="banner" class="navigation-3 w-nav">
      <div data-w-id="d0562288-237b-efdc-4719-23120f4375c8" style="opacity:0" class="navigation-items-3"><a href="../index.html" class="w-inline-block"><img src="images/LogoStars.png" alt="" class="icon"></a>
        <div class="navigation-wrap">
          <nav role="navigation" class="navigation-items-3 w-nav-menu"><a href="https://monica-lin.me/index.html#featured" class="navigation-item-3 w-nav-link link-underline">PRODUCT DESIGN</a><a href="other-work.html" class="navigation-item-3 w-nav-link link-underline">OTHER WORK</a><a href="about.html" class="navigation-item-3 w-nav-link link-underline">ABOUT</a></nav>
          <div class="menu-button w-nav-button"><img src="../index-assets/Menu.png" width="22" alt="" class="menu"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-9 w-container">
    <div class="div-block-31"><img src="images/CoverBannerSSOL.jpg" width="2500" srcset="images/CoverBannerSSOL-p-500.jpeg 500w, images/CoverBannerSSOL-p-800.jpeg 800w, images/CoverBannerSSOL-p-1080.jpeg 1080w, images/CoverBannerSSOL.jpg 2469w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt="" class="image-80"></div>
    <div class="columns-19 w-row">
      <div class="column-39 w-col w-col-4">
        <div class="div-block-126">
          <h1 class="heading-22 left">Columbia SSOL</h1>
          <h2 class="paragraph-23 m">The Mobile Application</h2>
        </div>
      </div>
      <div class="column-40 w-col w-col-8">
        <div class="div-block-126">
          <p class="paragraph-26">The objective of this project was to create a mobile application that completely redesigned SSOL’s web interface. SSOL is cluttered, difficult to look at, and hard to navigate. As such, I designed a clean app that not only makes user flow more intuitive, but also enhances the aesthetics of the interface. Fast and efficient, it prioritizes what students need most.<strong><br><br></strong><span class="text-span-15"><strong>WHAT:</strong></span> UI/UX Exploration and App Development<br><br>‍<strong class="bold-text-4">HOW:</strong> Research, Ideation, Storyboarding, Wireframing (Sketch), Prototyping (Figma)<br><br>‍<strong class="bold-text-4">WHEN:</strong> January 2020 to Present<br></p>
        </div>
      </div>
    </div>
    <div><img src="images/Line.png" alt="" class="line-img"></div>
    <div class="columns-5 w-row">
      <div class="column-5 w-col w-col-6">
        <div class="w-embed w-iframe">
          <div class="wrapper">
            <div class="iframe-container">
              <iframe style="border: none;" width="100%" height="600" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FxpSBnOXppnkW2xf7Ogc7LM%2FColumbia-SSOL%3Fnode-id%3D0%253A4%26scaling%3Dscale-down" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
      <div class="column-6 w-col w-col-6">
        <div>
          <h1 class="heading-16">INTERACTIVE PROTOTYPE</h1>
        </div>
        <p class="paragraph-26">Created using Figma, this interactive mockup was meant to show the application’s features and communicate the mission of SSOL’s mobile redesign.<br><br>Not every feature is displayed (only “Check Grades” and “See Schedule”), but all actions in the app will have a similar user flow and minimalistic design as it is meant to be utilitarian and straightforward.</p>
      </div>
    </div>
    <div><img src="images/Line.png" alt="" class="line-img"></div>
    <div class="div-block-32"><img src="images/DisplaySSOL.png" width="2500" srcset="images/DisplaySSOL-p-500.png 500w, images/DisplaySSOL-p-800.png 800w, images/DisplaySSOL-p-1080.png 1080w, images/DisplaySSOL-p-1600.png 1600w, images/DisplaySSOL-p-2000.png 2000w, images/DisplaySSOL.png 2500w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt="" class="image-19"></div>
    <div class="div-block-26"><img src="images/Web.png" width="2500" srcset="images/Web-p-500.png 500w, images/Web-p-800.png 800w, images/Web-p-1080.png 1080w, images/Web-p-1600.png 1600w, images/Web-p-2000.png 2000w, images/Web-p-2600.png 2600w, images/Web.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/Ideation-and-Research.png" width="2500" srcset="images/Ideation-and-Research-p-500.png 500w, images/Ideation-and-Research-p-800.png 800w, images/Ideation-and-Research-p-1080.png 1080w, images/Ideation-and-Research-p-1600.png 1600w, images/Ideation-and-Research-p-2000.png 2000w, images/Ideation-and-Research-p-2600.png 2600w, images/Ideation-and-Research.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/P-WI.png" width="2500" srcset="images/P-WI-p-500.png 500w, images/P-WI-p-800.png 800w, images/P-WI-p-1080.png 1080w, images/P-WI-p-1600.png 1600w, images/P-WI-p-2000.png 2000w, images/P-WI.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/P-Surveying.png" width="2500" srcset="images/P-Surveying-p-500.png 500w, images/P-Surveying-p-800.png 800w, images/P-Surveying-p-1080.png 1080w, images/P-Surveying-p-1600.png 1600w, images/P-Surveying-p-2000.png 2000w, images/P-Surveying.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/P-Personas.png" width="2500" srcset="images/P-Personas-p-500.png 500w, images/P-Personas-p-800.png 800w, images/P-Personas-p-1080.png 1080w, images/P-Personas-p-1600.png 1600w, images/P-Personas.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26">
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="slider-2 w-slider">
        <div class="mask-3 w-slider-mask">
          <div class="w-slide"><img src="images/P-S1.png" width="2500" srcset="images/P-S1-p-500.png 500w, images/P-S1-p-800.png 800w, images/P-S1-p-1080.png 1080w, images/P-S1-p-1600.png 1600w, images/P-S1-p-2000.png 2000w, images/P-S1-p-2600.png 2600w, images/P-S1.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
          <div class="w-slide"><img src="images/P-S2.png" width="2500" srcset="images/P-S2-p-500.png 500w, images/P-S2-p-800.png 800w, images/P-S2-p-1080.png 1080w, images/P-S2-p-1600.png 1600w, images/P-S2-p-2000.png 2000w, images/P-S2-p-2600.png 2600w, images/P-S2.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
          <div class="w-slide"><img src="images/P-S5.png" width="2500" srcset="images/P-S5-p-500.png 500w, images/P-S5-p-800.png 800w, images/P-S5-p-1080.png 1080w, images/P-S5-p-1600.png 1600w, images/P-S5-p-2000.png 2000w, images/P-S5-p-2600.png 2600w, images/P-S5.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
          <div class="w-slide"><img src="images/P-S4.png" width="2500" srcset="images/P-S4-p-500.png 500w, images/P-S4-p-800.png 800w, images/P-S4-p-1080.png 1080w, images/P-S4-p-1600.png 1600w, images/P-S4-p-2000.png 2000w, images/P-S4-p-2600.png 2600w, images/P-S4.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
          <div class="w-slide"><img src="images/P-S3.png" width="2500" srcset="images/P-S3-p-500.png 500w, images/P-S3-p-800.png 800w, images/P-S3-p-1080.png 1080w, images/P-S3-p-1600.png 1600w, images/P-S3-p-2000.png 2000w, images/P-S3-p-2600.png 2600w, images/P-S3.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
        </div>
        <div class="left-arrow-4 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow-5 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
    </div>
    <div><img src="images/P-SD.png" width="2500"  srcset="images/P-SD-p-500.png 500w, images/P-SD-p-800.png 800w, images/P-SD-p-1080.png 1080w, images/P-SD-p-1600.png 1600w, images/P-SD-p-2000.png 2000w, images/P-SD.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt="" class="image-22"></div>
    <div><img src="images/P-Competitor-Analysis.png" width="2500"  srcset="images/P-Competitor-Analysis-p-500.png 500w, images/P-Competitor-Analysis-p-800.png 800w, images/P-Competitor-Analysis-p-1080.png 1080w, images/P-Competitor-Analysis-p-1600.png 1600w, images/P-Competitor-Analysis.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt="" class="image-22"></div>
    <div><img src="images/DesignIntro.png" width="2500"  srcset="images/DesignIntro-p-500.png 500w, images/DesignIntro-p-800.png 800w, images/DesignIntro-p-1080.png 1080w, images/DesignIntro-p-1600.png 1600w, images/DesignIntro-p-2000.png 2000w, images/DesignIntro-p-2600.png 2600w, images/DesignIntro.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt="" class="image-22"></div>
    <div class="div-block-26"><img src="images/Key-Features.png" width="2500"  srcset="images/Key-Features-p-500.png 500w, images/Key-Features-p-800.png 800w, images/Key-Features-p-1080.png 1080w, images/Key-Features-p-1600.png 1600w, images/Key-Features.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/Style-Guide.png" width="2500"  srcset="images/Style-Guide-p-500.png 500w, images/Style-Guide-p-800.png 800w, images/Style-Guide-p-1080.png 1080w, images/Style-Guide-p-1600.png 1600w, images/Style-Guide-p-2000.png 2000w, images/Style-Guide.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26">
      <div data-animation="slide" data-duration="500" data-infinite="1" class="slider-2 w-slider">
        <div class="mask-2 w-slider-mask">
          <div class="w-slide"><img src="images/JM-before.png" width="2500" srcset="images/JM-before-p-500.png 500w, images/JM-before-p-800.png 800w, images/JM-before-p-1080.png 1080w, images/JM-before-p-1600.png 1600w, images/JM-before-p-2000.png 2000w, images/JM-before-p-2600.png 2600w, images/JM-before.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
          <div class="w-slide"><img src="images/jm-after.png" width="2500" srcset="images/jm-after-p-500.png 500w, images/jm-after-p-800.png 800w, images/jm-after-p-1080.png 1080w, images/jm-after-p-1600.png 1600w, images/jm-after-p-2000.png 2000w, images/jm-after-p-2600.png 2600w, images/jm-after.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
        </div>
        <div class="left-arrow-3 w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="right-arrow-4 w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
    </div>
    <div class="div-block-26"><img src="images/Wireframing.png" width="2500"  srcset="images/Wireframing-p-500.png 500w, images/Wireframing-p-800.png 800w, images/Wireframing-p-1080.png 1080w, images/Wireframing-p-1600.png 1600w, images/Wireframing-p-2000.png 2000w, images/Wireframing.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/Usability-Testing.png" width="2500"  srcset="images/Usability-Testing-p-500.png 500w, images/Usability-Testing-p-800.png 800w, images/Usability-Testing-p-1080.png 1080w, images/Usability-Testing-p-1600.png 1600w, images/Usability-Testing-p-2000.png 2000w, images/Usability-Testing.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/Final.png" width="2500"  srcset="images/Final-p-500.png 500w, images/Final-p-800.png 800w, images/Final-p-1080.png 1080w, images/Final-p-1600.png 1600w, images/Final-p-2000.png 2000w, images/Final.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
    <div class="div-block-26"><img src="images/Final-Comments.png" width="2500"  srcset="images/Final-Comments-p-500.png 500w, images/Final-Comments-p-800.png 800w, images/Final-Comments-p-1080.png 1080w, images/Final-Comments-p-1600.png 1600w, images/Final-Comments-p-2000.png 2000w, images/Final-Comments.png 2732w" sizes="(max-width: 479px) 92vw, (max-width: 767px) 82vw, (max-width: 991px) 608px, 940px" alt=""></div>
  </div>
  <div data-collapse="none" data-animation="default" data-duration="400" role="banner" class="footer-2 w-nav">
    <nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="https://monica-lin.me/index.html#featured" class="nav-link footernav w-nav-link">All</a>
      <a href="google-collections.html" class="nav-link-7 w-nav-link">Google Collections</a>
      <a href="cress.html" class="nav-link-7 w-nav-link">Cress Health</a>
      <a href="pilota.html" class="nav-link-7 w-nav-link">Pilota</a>
      <a href="slack-apps.html" class="nav-link-7 w-nav-link">Slack Apps</a>
      <a href="gazer.html" class="nav-link-7 w-nav-link">Gazer</a>
      <a href="columbia-ssol.html" aria-current="page" class="nav-link-7 w-nav-link w--current">Columbia SSOL</a></nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
  <div class="end-2 footer">
    <div class="columns-20 w-row">
      <div class="column-38 w-col w-col-6">
        <div>
          <h6 class="bot">Monica Lin</h6>
        </div>
        <div class="botd">Prototyped in Figma ✨<br>Developed by me in HTML/CSS + JS 😇</div>
      </div>
      <div class="w-col w-col-3">
        <div class="div-block-98">
          <div data-w-id="c6de6e9b-2a2b-c9fd-7003-3bac49ea110a" class="footerlink"><a href="mailto:monica.lin@columbia.edu" target="_blank" class="footerl">Email me.</a><img src="../index-assets/ArrowUp.png" loading="lazy" style="opacity:0" alt="" class="diag"></div>
          <div data-w-id="c6de6e9b-2a2b-c9fd-7003-3bac49ea110e" class="div-block-101"><a href="documents/MonicaLin_Resume.pdf" target="_blank" class="footerl">Download my resume.</a><img src="../index-assets/ArrowUp.png" loading="lazy" style="opacity:0" alt="" class="diag"></div>
          <div data-w-id="c6de6e9b-2a2b-c9fd-7003-3bac49ea1112" class="div-block-101"><a href="https://www.linkedin.com/in/monica-lin/" target="_blank" class="footerl">Connect on LinkedIn.</a><img src="../index-assets/ArrowUp.png" loading="lazy" style="opacity:0" alt="" class="diag"></div>
          <div data-w-id="c6de6e9b-2a2b-c9fd-7003-3bac49ea1116" class="div-block-101"><a href="https://github.com/monicalin22" target="_blank" class="footerl">View my GitHub.</a><img src="../index-assets/ArrowUp.png" loading="lazy" style="opacity:0" alt="" class="diag"></div>
          <div data-w-id="c6de6e9b-2a2b-c9fd-7003-3bac49ea111a" class="div-block-129"><a href="https://www.instagram.com/monica.lin/" target="_blank" class="footerl">Visit my Instagram.</a><img src="../index-assets/ArrowUp.png" loading="lazy" style="opacity:0" alt="" class="diag"></div>
        </div>
      </div>
      <div class="w-col w-col-3">
        <div class="div-block-128">
          <div class="footerlink"><a href="../index.html" class="menul">Home.</a></div>
          <div class="footerlink"><a href="https://monica-lin.me/index.html#featured" class="menul">Product Design.</a></div>
          <div class="footerlink"><a href="other-work.html" class="menul">Other Work.</a></div>
          <div class="footerlink"><a href="about.html" class="menul">About Me.</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cursor-dot-outline"></div>
  <div class="cursor-dot"></div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5f6afc95de4bf707aefd1f55" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="../js/mobile-proj.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>